@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow:ital,wght@1,600;1,900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

:root {
    --primary-color: #be2126;
    --primary-color_gray: #6d6e71;
    --seconday-color: #193661;
  }

  .profile_identity{
    border-radius: 5px;
  }

  .profile_identity .profile_ident{
    padding: 50px 0 0 0;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
  }

  .modify_icon{
      width: 40px;
      height: 40px;
    padding: 10px;
    border-radius: 50%;
    color: var(--primary-color);
  }

  .modify_icon:hover{
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
  }

.profile_ident .ident_image{
    padding: 10px;
  }

.profile_ident .ident_image .profile_picture_img{
    background-image: url("../Assets/pngtree-handsome-young-guy-avatar-cartoon-style-png-image_1947775.jpg");
    background-repeat: no-repeat;
  
    background-size: cover;
        width: 200px;
      height: 200px;
      -webkit-border-radius: 60px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 60px;
      -moz-background-clip: padding;
      border-radius: 100px;
      background-clip: padding-box;
      margin: 7px 0 0 5px;
  }

  .profile_details{
      display: block;
      align-items: center;
      justify-content: center;
  }

  .profile_details h1{
      font-size: 1.5rem;
      color: var(--primary-color);
      padding: 10px;
  }
  .profile_details p{
      font-size: 1rem;
      color: var(--seconday-color);
  }

  .edit_button{
      margin-top: 3rem;
  }
  .edit_button .update_button{
      background-color: var(--primary-color);
      /* border-radius: 10px; */
      color: white;
      width: 100%;
      height: auto;
      border: none;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 50px 10px 50px;
  }
  .edit_button .update_button .button_link{
      color: white;
      text-decoration: none;
  }
  .profile_experience_details{
    padding: 20px;
    border-radius: 5px;
    border:1px solid rgb(231, 231, 231);
    background-color: rgb(243, 243, 243);
  }
  .profile_experience{
    border-radius: 5px;
  }

  .exp_head .exp_title h2{
      font-size: 1.5rem;
      color: var(--primary-color);
  }
  .exp_head .exp_edit_icon{
      color: var(--primary-color);
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
  }
  .exp_head .exp_edit_icon:hover{
      color: white;
      background-color: var(--primary-color);
      border-radius: 50%;
      padding: 10px;
  }

  .exp_head{
      display: flex;
      border-bottom: 1px solid var(--primary-color);
      justify-content: space-between;
  }

  .exp_content{
      text-align: left;
      margin-top: 20px;
  }

  .exp_content h1{
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--seconday-color);
      margin: 0;
  }

  .exp_content .exp_comp{
      font-size: 1rem;
      color: var(--primary-color);
      margin: 0;
  }

  .exp_content .prof_date{
      font-size: 1rem;
      font-style: italic;
  }

  /* .exp_content .companylogo_img{
    background-image: url("../Assets/pngtree-handsome-young-guy-avatar-cartoon-style-png-image_1947775.jpg");
    background-repeat: no-repeat;
  
    background-size: cover;
        width: 50px;
      height: 50px;
      -webkit-border-radius: 60px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 60px;
      -moz-background-clip: padding;
      border-radius: 100px;
      background-clip: padding-box;
      margin: 7px 0 0 5px;
  } */



/*FOR THE MODAL==================================================================================================================================*/
  
  
  .identity_edit{

    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 50px;
    background-color: rgb(231, 231, 231);
  }
.profile_picture_edit{
  display: grid;
  justify-content: center;
  align-items: center;
}

.profile_picture_edit div{
  display: grid;
  justify-content: center;
  align-items: center;
}
.profile_picture_edit .profile_picture_img_edit{
  background-image: url("../Assets/pngtree-handsome-young-guy-avatar-cartoon-style-png-image_1947775.jpg");
  background-repeat: no-repeat;
  object-fit: cover;

  background-size: cover;
      width: 150px;
    height: 150px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
}
  .profile_img_edit{
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }

  .profile_name_edit{
    margin-top: 10px;
  }

  .select_age_edit{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 1px solid #6d6e71;
  }
  .profile_age_edit:focus{
    border: 1px solid var(--primary-color);
  }

  .Edit_title h1{
    color: var(--primary-color);
  }



  @media screen and (max-width: 1199px) {
    .profile_ident .ident_image .profile_picture_img{
        width: 100px;
        height: 100px;
    }

    .edit_button .update_button{
      padding: 5px;
    }
  }


  @media screen and (max-width: 992px) {
    .profile_ident .ident_image .profile_picture_img{
          width: 100px;
        height: 100px;
    }

    .edit_button .update_button{
      padding: 5px;
    }
  }


  @media screen and (max-width: 767px) {
    
  .profile_identity{
    margin-bottom: 20px;
  }
  }